# Virtual Environment
venv/

# Environment variables
.env

# User data
users.json

# Word lists (except default)
wordlists/*
!wordlists/default.txt

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log 

# Docker
.docker/
docker-compose.override.yml 

.DS_Store
